.videocard {
  color: white;
  width: 400px;
  height: 300px;
  padding: 20px;
  transition: transform 100ms ease-in-out;
}

.videocard > img {
  object-fit: contain;
  width: 400px;
  height: 250px;
}

.videocard:hover {
  transform: scale(1.09);
}

.videocard > h2 {
  padding-top: 10px;
  font-size: large;
}
